@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bitter-rose;
  src: url("./Assets/Fonts/Bitter-Rose/Bitter\ Rose\ DEMO.otf");
}

@font-face {
  font-family: chillax;
  src: url("./Assets/Fonts/Chillax/Chillax_Complete/Fonts/OTF/Chillax-Medium.otf");
}
@font-face {
  font-family: chillax-regular;
  src: url("./Assets/Fonts/Chillax/Chillax_Complete/Fonts/OTF/Chillax-Regular.otf");
}
